<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>404 Not found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/fonts.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/404.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='Icon.png') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='YouOnlineInvertedCropped.png') }}">
        <h1>404</h1>
        <p>This is not the page you are looking for!</p>
        <button onclick="location.href='/'">take me back!</button>
    </div>
</body>
</html>