@import url('https://fonts.googleapis.com/css?family=Oswald');

body
{
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Oswald';
}

ul img
{
    width: 30%;
    height: 30%;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 5%;
    padding-top: 5%;
    overflow: hidden;
}

ul a
{
    display: block;
    color: #5F2138;
    text-decoration: none;
    font-size: 1.2vw;
}

ul a:hover
{
    animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) none;
}

ul li
{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
}

.wrapper
{
    padding-left: 15%;
    padding-right: 15%;
}

.navbar
{
    margin-top: 0%;
}






@-webkit-keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  @keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  